.main-form {}

.main-form__row {
  display: flex;
  justify-content: space-between;

  &:first-child .main-form__label:last-child {
    margin-right: 0;
  }
}

.main-form__label {
  font-weight: 600;
  opacity: 0.3;
  display: block;
  padding-left: 48px;
  // padding-bottom: 125px;

  & input {
    // display: block;
  }
}