.skills-row {

}
.skills-row__title {
  font-size: 24px;
  padding-left: 25px;
}
.skills-row__list {
  display: flex;
}
.skills-row__item {

}
.skill {
  padding-top: 12px;
}
.skill__circle {

}
.skill__circle--position--under {

}
.skill__shape {
  width: 200px;
  height: 190px;
  fill: transparent;
  stroke: #e9e9e9;
  stroke-width: 10px;
}
.skill__circle--position--above {
  // stroke: linear-gradient(to left, #7500ea,#5c10ec);
  stroke: #5c10ec;
  stroke-width: 12px;
}