.triangles-down {
  display: flex;
  margin-top: 0px;
  // color: $white;
  padding-bottom: 170px;
  background-color: transparent;
}

.triangles-down__item {
  width: 50%;
  display: block;
  height: 95px;
  fill: $white;
  background-color: transparent;
}