.user {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 11px;
}
.user__avatar {
  margin-bottom: 72px;
}
.user__desc {
  display: table;
  align-self: flex-start;
}

.user__desc-item {
  display: table-row;
}

.user__desc-item>div {
  display: table-cell;
  font-weight: 600;
}

.user__desc-item>div:first-child {
  opacity: 0.3;
  padding: 0 80px 18px 4px;
}