.values__title {
  padding-bottom: 54px;
}
.values__title-text  {
  text-align: center;
}
.values__wrapper {
  display: flex;
  justify-content: center;
}

.values__left {
  width: 30%;
}

.values__image {}

.values__right {
  width: 70%;
}

.values__desc {
  font-weight: 600;
  line-height: 30px;
  width: 58%;
  margin-left: 58px;
  padding-bottom: 85px;
}